cff-version: 1.2.0
message: "If you use this software, please cite it using the metadata below."
title: "{{ title }}"
type: software
{% if authors %}authors:
{% for author in authors %}  - family-names: "{{ author.family }}"
    given-names: "{{ author.given }}"
{% endfor %}{% else %}authors:
  - family-names: "TODO"
    given-names: "TODO"
{% endif %}{% if repository_url %}repository-code: "{{ repository_url }}"
{% endif %}date-released: "{{ date }}"
version: "{{ version }}"
